<% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Add a new place</h5>
    <%= form_with(model: place) do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
      <%= form.label :note %>
      <%= form.text_area :note, class: 'form-control' %>
      <%= form.label :lat %>
      <%= form.text_field :lat, class: 'form-control' %>
      <%= form.label :lng %>
      <%= form.text_field :lng, class: 'form-control' %>
      <div class='form-check'>
        <br>
        <%= form.check_box :public, { class: 'form-check-input' }, 1 , nil %>
        <%= form.label :public, "Share with all", class: 'form-check-label' %>
        <hr>
        <h6>OR Check the users to share with</h6>
        <% User.all_except(current_user).limit(5).each do |user| %>
          <%= form.check_box :shared_users, { class: 'form-check-input', multiple: true }, user.email, nil %>
          <%= form.label :shared_users, user.email, class: 'form-check-label' %>
        <% end %>
      </div>
      <br>
      <button type="submit" class="btn btn-success">Save</button>
    <% end %>
  </div>
</div>
