<p id="notice"><%= notice %></p>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Places</li>
  </ol>
</nav>

<%= link_to 'My places', places_path(selection: 'my_places'), class: 'btn btn-light' %>
<%= link_to 'Places shared with me', places_path(selection: 'places_shared_with_me'), class: 'btn btn-light' %>
<%= link_to 'Add a new Place', new_place_path, class: 'btn btn-primary' %><br><br>

<div style="width: 100%; overflow: hidden;">
  <div id="map" style='width: 800px; height: 450px; float: right;'>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Total places : <%= @places.count %>
    </div>
    <ul class="list-group list-group-flush">
      <% @places.each do |place| %>
        <li class="list-group-item">
          <span class='place_name'>Name: <%= place.name %><br></span>
          <span class='place_location'><%= "Latutude: #{place.lat} Longitude: #{place.lng} "%><br></span>
          <span class='place_note'>Note: <%= place.note %><br></span>
          Visibility: <%= place.public ? 'Public' : 'Private' %>
          <hr>
          <% if place.user == current_user %>
            <%= link_to 'Show', place, class: 'card-link' %>
            <%= link_to 'Edit', edit_place_path(place), class: 'card-link' %>
            <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' %>
          <% else %>
            Shared by: <%= place.user.email %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @places %>
  </div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw places_map_builder %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
});
</script>
