<!DOCTYPE html>
<html>
  <head>
    <title>Tokoro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'> </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= google_api_key %>" type="text/javascript"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <script src='//underscorejs.org/underscore-min.js' type='text/javascript'></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
      <nav class="nav">
        <span class="navbar-brand">Tokoro - Share places!</span>
        <a class="nav-link" href="/places">My places</a>
        <a class="nav-link" href="/members">Browse Members</a>
      </nav>
      <% if current_user.present? %>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="<%= destroy_user_session_path%>">Sign Out</a>
          </li>
        </ul>
      <% end %>
    </nav>
    <main class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
