<!DOCTYPE html>
<html>
  <head>
    <title>Tokoro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'places', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
      <nav class="nav">
        <span class="navbar-brand">Tokoro - Share places!</span>
        <a class="nav-link" href="#">Browse Users</a>
        <a class="nav-link" href="#">Browse Places</a>
      </nav>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="<%= destroy_user_session_path%>">Sign Out</a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>